html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

canvas {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  z-index: 0;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  -webkit-animation: rotate 12000ms linear infinite alternate;
          animation: rotate 12000ms linear infinite alternate;
  z-index: 1;
  mix-blend-mode: multiply;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) translateX(0%) scale(0.96);
            transform: rotate(0deg) translateX(0%) scale(0.96);
  }
  10% {
    -webkit-transform: rotate(0deg) translateX(0%) scale(0.96);
            transform: rotate(0deg) translateX(0%) scale(0.96);
  }
  20% {
    -webkit-transform: rotate(-1deg) translateX(0%) scale(1);
            transform: rotate(-1deg) translateX(0%) scale(1);
  }
  40% {
    -webkit-transform: rotate(-1deg) translateX(0%);
            transform: rotate(-1deg) translateX(0%);
  }
  60% {
    -webkit-transform: rotate(-1deg) translate(0%, 0%);
            transform: rotate(-1deg) translate(0%, 0%);
  }
  80% {
    -webkit-transform: rotate(-1deg) translateX(0%);
            transform: rotate(-1deg) translateX(0%);
  }
  100% {
    -webkit-transform: rotate(-1deg) translateX(0%);
            transform: rotate(-1deg) translateX(0%);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) translateX(0%) scale(0.96);
            transform: rotate(0deg) translateX(0%) scale(0.96);
  }
  10% {
    -webkit-transform: rotate(0deg) translateX(0%) scale(0.96);
            transform: rotate(0deg) translateX(0%) scale(0.96);
  }
  20% {
    -webkit-transform: rotate(-1deg) translateX(0%) scale(1);
            transform: rotate(-1deg) translateX(0%) scale(1);
  }
  40% {
    -webkit-transform: rotate(-1deg) translateX(0%);
            transform: rotate(-1deg) translateX(0%);
  }
  60% {
    -webkit-transform: rotate(-1deg) translate(0%, 0%);
            transform: rotate(-1deg) translate(0%, 0%);
  }
  80% {
    -webkit-transform: rotate(-1deg) translateX(0%);
            transform: rotate(-1deg) translateX(0%);
  }
  100% {
    -webkit-transform: rotate(-1deg) translateX(0%);
            transform: rotate(-1deg) translateX(0%);
  }
}
body {
  background: #0d0d0d;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

#can, #canv {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#can {
  z-index: 0;
  -webkit-filter: brightness(1.4) contrast(2);
          filter: brightness(1.4) contrast(2);
}

#canv {
  z-index: 1;
  mix-blend-mode: difference;
}
